@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
.baloo-font{
font-family: 'Baloo Thambi 2';
font-weight:600;
}
.noselect{
user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.lgb{
background-image: linear-gradient(rgb(64,200,241),rgb(43,105,226));
border: 0;
color: #fff;
border-radius: 7px;
box-shadow: rgba(0,0,0,0.16)0 2px 6.5727px 0, rgba(0,0,0,0.12) 0 2px 11.5727px 0;
padding: 10px 10px;
font-size: 18px;
}
.lgb:active{
border-radius: 14px;
}
