@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
:root{
--red: #DD4A48;
--blue: rgb(43,105,226);
--yellow: #FFCC1D;
--white: #ffffff;
--black: #000000;
--green: #116530;
}
.baloo-font{
font-family: 'Baloo Thambi 2';
font-weight:600;
}
.red{color: var(--red) !important;}
.blue{color: var(--blue) !important;}
.yellow{color: var(--yellow) !important;}
.white{color: var(--white) !important;}
.black{color: var(--black) !important;}
.green{color: var(--green) !important;}
.noselect{
user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.lgb, .lgy, .lgb-active, .lgy-active{
background-image: linear-gradient(rgb(64,200,241),rgb(43,105,226));
border: 0;
color: #fff;
border-radius: 7px;
box-shadow: rgba(0,0,0,0.16)0 2px 6.5727px 0, rgba(0,0,0,0.12) 0 2px 11.5727px 0;
padding: 7px 10px;
font-size: 18px;
transition: all 0.2s;
}
.lgy, .lgy-active{
background-image:linear-gradient(rgb(255,215,64), rgb(240,100,24)) !important;
}
.lgb-active:active, .lgy-active:active{
transform: scale(1.2);
}
