@font-face{font-family:proximanova-regular-webfont;src:url(https://css375.gaanacdn.com/font/proximanova-regular-webfont#iefix) format("embedded-opentype"),url(https://css375.gaanacdn.com/font/proximanova-regular-webfont.woff) format("woff"),url(https://css375.gaanacdn.com/font/proximanova-regular-webfont.ttf) format("truetype"),url(https://css375.gaanacdn.com/font/proximanova-regular-webfont.svg#proximanova-regular-webfont) format("svg");font-weight:400;font-style:normal;font-display:swap}
*{margin: 0 0;padding: 0 0;box-sizing: border-box;font-family: proximanova-regular-webfont;-webkit-tap-highlight-color: transparent;outline: none;}
body{user-select: none;background-color:#fff;-webkit-user-select: none;}
#mpcont{height: 100%;width: 100%;margin-top: 0px;text-align: center; margin-bottom:15px;}
#glow{width: 100%;height: 100%;}
#menu{height: 100vh;width: 250px;background-color: #fff;z-index: 999;position: fixed;top: 0;left: -250px;transition: all 0.5s;}
#menu.active{position: fixed;left: 0;}
.mnbtn{width:90%;height:50px;background-color:#fff;border-radius:0;text-align:left;padding-left:15px;font-size:20px;color: #000;transition: font-size 0.2s;}
.mnbtn:hover{color:#01875f;font-size: 22px;}
#dftimg{width: 160px;height: 160px;border-radius: 5px;border: 1px solid black;margin-left: 0px;margin-top:25px;margin-bottom:15px;}
#player{position: fixed;top: 0;left: 0;bottom: 0;right: 0;height: 360px;width: 320px;transform: scale(0);margin: auto;background-color: #fff;z-index: 99999;border-radius: 1px;box-shadow:1px 1px 6px 1px #000;transition: all 0.4s;}
#player.active{transform: scale(1);}
button{color:#01875f;cursor: pointer;font-size:25px;height: 50px;width: 50px;border-radius: 50%;background-color: transparent;border: 0px solid transparent;transition: background-color 0.2s;}
button:hover{background-color: #eee;}
#mnclsbtn:hover{background-color: transparent;}
#myInput{background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJyEjLPTGZRXYH5rV6oltXrz97DcAwEs-umQ&usqp=CAU');background-position: 15px 8px;background-repeat: no-repeat;background-size: 20px 20px;height: 40px;color: #000;width: 94%;font-size: 16px;border: 1px solid #000;padding-left: 42px;margin-top: 8px;border-radius: 10px;outline: 0;}
#myInput:focus{border: 2px solid #000;}
#myTable{width: 100%;margin-bottom: 60px;margin-top: 80px;}
#songName{text-align: center;font-weight: bold;font-size: 25px;}
.sngdv, .artdv{height: 140px;width: 150px;display: inline-block;border: 1px solid #ffff0000;background-color: #ffff0000;transition: transform 0.2s;border-radius: 7px;margin: 10px;cursor: pointer;}
.sngimg, .artimg{width: 149px;height: 140px;border-radius: 5px;}
.plsnm, .artnm{width: 149px;color: #fff;font-size: 15px;background-color: #0088ff;padding-top: 5px;padding-bottom: 5px;text-align: center;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;position: relative;top: -25px;margin-left: 0px;}
.play_icon{width: 50px;height: 50px;padding: 10px 10px;position: absolute;background-color: #ffaa00;border-radius: 50%;margin-top: -100px;margin-left: -25px;border: 3px solid #fff;display: none;transition: display 0.2s;}
.artists{height: 180px;background-color: transparent;width: 100%;white-space: nowrap;overflow-x: scroll;overflow-y: hidden;}
.artdv{height: 156px;margin-top: 10px;}
.artimg{bottom: 34px;width: 150px;}
.artnm{width: 150px;top: -18px;}
.sngdv:hover, .artdv:hover{transform: scale(1.08);box-shadow: 1px 1px 6px #000;}
.sngdv:hover .plsnm, .artdv:hover .artnm{background-color: #ffaa00;color: #fff;width: 149.5px;margin-left: -1px;}
.sngdv:hover .play_icon{display: inline-block;}
.hidden{display:none;}
.btmbtn{position: absolute;background-image: none;border: 0px solid #eee;margin-top: 7px;background-color: transparent;}
.aimg{width: 250px;height: 250px;border-radius: 10px;margin-top: 40px;}
.anm{width: 250px;color: #fff;font-size: 30px;text-align: center;font-weight: bold;position: relative;bottom: 44.5px;background-color: rgba(0,0,0,0.7);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;margin-left: calc(50% - 125px);}
.nosngs{color: #000;font-weight: bold;font-size: 20px;text-align: center;margin-bottom: 10px;margin-left: 10px;}
.snackText {visibility: hidden;user-select: none;min-width: 250px;margin-left: -125px;background-color: rgb(110, 26, 106);color: #fff;text-align: center;border-radius: 2px;padding: 8px;position: fixed;z-index: 1;left: 50%;bottom: 50px;font-size: 17px;}
input[type=range]{
  -webkit-appearance: none;
  width: 180px;
  height: 7px;
  border-radius: 5px;  
  background: #ff0000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #000;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
.snackText.show {visibility: visible;user-select: none;z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;animation: fadein 0.3s, fadeout 0s 2s;}
@keyframes fadein {
from {bottom: 0;opacity: 0;}
to {bottom: 50px;opacity: 1;}
}
@keyframes fadeout {
from {bottom: 0px;opacity: 1;}
to {bottom: 0;opacity: 0;}
}
